In [1]:
import pandas as pd 
scooter = pd.read_csv(r"C:\Users\ajaya\Downloads\scooter.csv")
scooter.head(5)

,month,trip_id,region_id,vehicle_id,started_at,ended_at,DURATION,start_location_name,end_location_name,user_id,trip_ledger_id
0,May,1613335,202,9424537,5/21/2019 18:33,5/21/2019 18:40,0:07:03,"1901 Roma Ave NE, Albuquerque, NM 87106, USA","1899 Roma Ave NE, Albuquerque, NM 87106, USA",8417864,1488546
1,May,1613639,202,9424537,5/21/2019 19:07,5/21/2019 19:12,0:04:57,"1 Domenici Center en Domenici Center, Albuquer...","1111 Stanford Dr NE, Albuquerque, NM 87106, USA",8417864,1488838
2,May,1613708,202,9424537,5/21/2019 19:13,5/21/2019 19:15,0:01:14,"1 Domenici Center en Domenici Center, Albuquer...","1 Domenici Center en Domenici Center, Albuquer...",8417864,1488851
3,May,1613867,202,9424537,5/21/2019 19:29,5/21/2019 19:36,0:06:58,"Rotunda at Science & Technology Park, 801 Univ...","725 University Blvd SE, Albuquerque, NM 87106,...",8417864,1489064
4,May,1636714,202,8926493,5/24/2019 13:38,5/24/2019 13:41,0:03:06,"401 2nd St NW, Albuquerque, NM 87102, USA","401 2nd St NW, Albuquerque, NM 87102, USA",35436274,1511212

In [2]:
scooter.columns

Index(['month', 'trip_id', 'region_id', 'vehicle_id', 'started_at', 'ended_at',
       'DURATION', 'start_location_name', 'end_location_name', 'user_id',
       'trip_ledger_id'],
      dtype='object')

In [3]:
scooter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34226 entries, 0 to 34225
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   month                34226 non-null  object
 1   trip_id              34226 non-null  int64
 2   region_id            34226 non-null  int64
 3   vehicle_id           34226 non-null  int64
 4   started_at           34226 non-null  object
 5   ended_at             34226 non-null  object
 6   DURATION             31918 non-null  object
 7   start_location_name  34220 non-null  object
 8   end_location_name    32156 non-null  object
 9   user_id              34226 non-null  int64
 10  trip_ledger_id       34226 non-null  int64
dtypes: int64(5), object(6)
memory usage: 2.9+ MB

In [4]:
scooter.dtypes

month                  object
trip_id                 int64
region_id               int64
vehicle_id              int64
started_at             object
ended_at               object
DURATION               object
start_location_name    object
end_location_name      object
user_id                 int64
trip_ledger_id          int64
dtype: object

In [5]:
scooter.shape

(34226, 11)

In [6]:
data_value_count = scooter['month'].value_counts()
print(data_value_count)

month
June    20259
July     9742
May      4225
Name: count, dtype: int64

In [7]:
unique_month_value_count = scooter['month'].unique()
print(unique_month_value_count)

['May' 'June' 'July']

In [8]:
trip_id_duration_start_loaction_name = scooter[['trip_id','DURATION','start_location_name']]
print(trip_id_duration_start_loaction_name.head(5))

   trip_id DURATION                                start_location_name
0  1613335  0:07:03       1901 Roma Ave NE, Albuquerque, NM 87106, USA
1  1613639  0:04:57  1 Domenici Center en Domenici Center, Albuquer...
2  1613708  0:01:14  1 Domenici Center en Domenici Center, Albuquer...
3  1613867  0:06:58  Rotunda at Science & Technology Park, 801 Univ...
4  1636714  0:03:06          401 2nd St NW, Albuquerque, NM 87102, USA

In [9]:
drop_column = scooter.drop(columns = ['trip_ledger_id'],inplace=True)

In [10]:
scooter.columns

Index(['month', 'trip_id', 'region_id', 'vehicle_id', 'started_at', 'ended_at',
       'DURATION', 'start_location_name', 'end_location_name', 'user_id'],
      dtype='object')

In [11]:
scooter[:10]

,month,trip_id,region_id,vehicle_id,started_at,ended_at,DURATION,start_location_name,end_location_name,user_id
0,May,1613335,202,9424537,5/21/2019 18:33,5/21/2019 18:40,0:07:03,"1901 Roma Ave NE, Albuquerque, NM 87106, USA","1899 Roma Ave NE, Albuquerque, NM 87106, USA",8417864
1,May,1613639,202,9424537,5/21/2019 19:07,5/21/2019 19:12,0:04:57,"1 Domenici Center en Domenici Center, Albuquer...","1111 Stanford Dr NE, Albuquerque, NM 87106, USA",8417864
2,May,1613708,202,9424537,5/21/2019 19:13,5/21/2019 19:15,0:01:14,"1 Domenici Center en Domenici Center, Albuquer...","1 Domenici Center en Domenici Center, Albuquer...",8417864
3,May,1613867,202,9424537,5/21/2019 19:29,5/21/2019 19:36,0:06:58,"Rotunda at Science & Technology Park, 801 Univ...","725 University Blvd SE, Albuquerque, NM 87106,...",8417864
4,May,1636714,202,8926493,5/24/2019 13:38,5/24/2019 13:41,0:03:06,"401 2nd St NW, Albuquerque, NM 87102, USA","401 2nd St NW, Albuquerque, NM 87102, USA",35436274
5,May,1636780,202,3902020,5/24/2019 13:52,5/24/2019 14:13,0:21:27,"520 Central Ave SW, Albuquerque, NM 87102, USA","3217 Pershing Ave SE, Albuquerque, NM 87106, USA",34352757
6,May,1636856,202,5192526,5/24/2019 14:04,5/24/2019 14:34,0:30:43,"330 Tijeras Ave NW, Albuquerque, NM 87102, USA","809 Copper Ave NW, Albuquerque, NM 87102, USA",35466666
7,May,1636912,202,3902020,5/24/2019 14:14,5/24/2019 14:15,0:01:05,"3217 Pershing Ave SE, Albuquerque, NM 87106, USA","802 Wellesley Dr SE, Albuquerque, NM 87106, USA",34352757
8,May,1637035,202,5192526,5/24/2019 14:37,5/24/2019 14:43,0:05:33,"809 Copper Ave NW, Albuquerque, NM 87102, USA","809 Copper Ave NW, Albuquerque, NM 87102, USA",35466666
9,May,1637036,202,9885684,5/24/2019 14:38,5/24/2019 15:09,0:31:54,"2901 Central Ave NE, Albuquerque, NM 87106, USA","2000 Zearing Ave NW, Albuquerque, NM 87104, USA",34352757

In [12]:
scooter[0:5]

,month,trip_id,region_id,vehicle_id,started_at,ended_at,DURATION,start_location_name,end_location_name,user_id
0,May,1613335,202,9424537,5/21/2019 18:33,5/21/2019 18:40,0:07:03,"1901 Roma Ave NE, Albuquerque, NM 87106, USA","1899 Roma Ave NE, Albuquerque, NM 87106, USA",8417864
1,May,1613639,202,9424537,5/21/2019 19:07,5/21/2019 19:12,0:04:57,"1 Domenici Center en Domenici Center, Albuquer...","1111 Stanford Dr NE, Albuquerque, NM 87106, USA",8417864
2,May,1613708,202,9424537,5/21/2019 19:13,5/21/2019 19:15,0:01:14,"1 Domenici Center en Domenici Center, Albuquer...","1 Domenici Center en Domenici Center, Albuquer...",8417864
3,May,1613867,202,9424537,5/21/2019 19:29,5/21/2019 19:36,0:06:58,"Rotunda at Science & Technology Park, 801 Univ...","725 University Blvd SE, Albuquerque, NM 87106,...",8417864
4,May,1636714,202,8926493,5/24/2019 13:38,5/24/2019 13:41,0:03:06,"401 2nd St NW, Albuquerque, NM 87102, USA","401 2nd St NW, Albuquerque, NM 87102, USA",35436274

In [13]:
selecting_specific_user = scooter[scooter['user_id']==35436274]
print(selecting_specific_user)

  month  trip_id  region_id  vehicle_id       started_at         ended_at  \
4   May  1636714        202     8926493  5/24/2019 13:38  5/24/2019 13:41

  DURATION                        start_location_name  \
4  0:03:06  401 2nd St NW, Albuquerque, NM 87102, USA

                           end_location_name   user_id
4  401 2nd St NW, Albuquerque, NM 87102, USA  35436274

# Analyzing the Data

In [14]:
scooter.describe()

            trip_id  region_id    vehicle_id       user_id
count  3.422600e+04    34226.0  3.422600e+04  3.422600e+04
mean   2.004438e+06      202.0  5.589507e+06  3.875420e+07
std    2.300476e+05        0.0  2.627164e+06  4.275441e+06
min    1.613335e+06      202.0  1.034847e+06  1.080200e+04
25%    1.813521e+06      202.0  3.260435e+06  3.665710e+07
50%    1.962520e+06      202.0  5.617097e+06  3.880750e+07
75%    2.182324e+06      202.0  8.012871e+06  4.222774e+07
max    2.482335e+06      202.0  9.984848e+06  4.258732e+07

In [15]:
scooter['trip_id'].describe()

count    3.422600e+04
mean     2.004438e+06
std      2.300476e+05
min      1.613335e+06
25%      1.813521e+06
50%      1.962520e+06
75%      2.182324e+06
max      2.482335e+06
Name: trip_id, dtype: float64

In [16]:
describe_start_location = scooter['start_location_name'].describe()
print(describe_start_location)

count                                               34220
unique                                               2972
top       1898 Mountain Rd NW, Albuquerque, NM 87104, USA
freq                                                 1210
Name: start_location_name, dtype: object

In [17]:
describe_duration = scooter['DURATION'].describe()
print(describe_duration)

count       31918
unique       4135
top       0:04:00
freq          825
Name: DURATION, dtype: object

In [18]:
values_count_duration = scooter['DURATION'].value_counts()
print(values_count_duration)

DURATION
0:04:00     825
0:03:00     807
0:05:00     728
0:06:00     649
0:07:00     627
           ...
0:40:15       1
39:24:42      1
0:43:09       1
1:05:10       1
1:12:07       1
Name: count, Length: 4135, dtype: int64

In [19]:
maxium_values_count_duration = scooter['DURATION'].value_counts().max()
print(maxium_values_count_duration)

825

In [20]:
normalize_values_count_duration = scooter['DURATION'].value_counts(normalize=True)
print(normalize_values_count_duration)

DURATION
0:04:00     0.025847
0:03:00     0.025284
0:05:00     0.022808
0:06:00     0.020333
0:07:00     0.019644
              ...
0:40:15     0.000031
39:24:42    0.000031
0:43:09     0.000031
1:05:10     0.000031
1:12:07     0.000031
Name: proportion, Length: 4135, dtype: float64

In [21]:
#To get NA Values we need to put dropna=False
end_values_duration_count = scooter['end_location_name'].value_counts(dropna=False)
print(end_values_duration_count)

end_location_name
NaN                                                  2070
1898 Mountain Rd NW, Albuquerque, NM 87104, USA       802
Central @ Tingley, Albuquerque, NM 87104, USA         622
330 Tijeras Ave NW, Albuquerque, NM 87102, USA        529
2550 Central Ave NE, Albuquerque, NM 87106, USA       478
                                                     ...
116 Washington St SE, Albuquerque, NM 87108, USA        1
716 Commercial St SE, Albuquerque, NM 87102, USA        1
119 Walter St SE, Albuquerque, NM 87102, USA            1
3801 Carlisle Blvd NE, Albuquerque, NM 87107, USA       1
1413 4th St SW, Albuquerque, NM 87102, USA              1
Name: count, Length: 4264, dtype: int64

In [22]:
#To get NA Values we need to put dropna=False
end_values_duration_count_dropna_true = scooter['end_location_name'].value_counts(dropna=True)
print(end_values_duration_count_dropna_true)

end_location_name
1898 Mountain Rd NW, Albuquerque, NM 87104, USA      802
Central @ Tingley, Albuquerque, NM 87104, USA        622
330 Tijeras Ave NW, Albuquerque, NM 87102, USA       529
2550 Central Ave NE, Albuquerque, NM 87106, USA      478
201 Marquette Ave NW, Albuquerque, NM 87102, USA     387
                                                    ...
116 Washington St SE, Albuquerque, NM 87108, USA       1
716 Commercial St SE, Albuquerque, NM 87102, USA       1
119 Walter St SE, Albuquerque, NM 87102, USA           1
3801 Carlisle Blvd NE, Albuquerque, NM 87107, USA      1
1413 4th St SW, Albuquerque, NM 87102, USA             1
Name: count, Length: 4263, dtype: int64

In [23]:

#find null values in columns_sum 
null_values_sum = scooter.isnull().sum()
print(null_values_sum)

month                     0
trip_id                   0
region_id                 0
vehicle_id                0
started_at                0
ended_at                  0
DURATION               2308
start_location_name       6
end_location_name      2070
user_id                   0
dtype: int64

# Handling Data Issues

In [24]:
#drop region id column
scooter.drop(columns = ['region_id'],inplace=True)

In [25]:
#fill na coulumns with value
fill_duration_with_na = scooter.fillna(value='00:00:00',axis='columns',inplace=True)
print(fill_duration_with_na)

None

In [26]:
null_scotter = scooter['DURATION'].isnull().sum()
null_scotter

0

In [27]:
non_null_value_count = scooter['DURATION'].value_counts().sum()
non_null_value_count

34226

In [28]:

#find null values in columns_sum 
null_values_sum = scooter.isnull().sum()
print(null_values_sum)

month                  0
trip_id                0
vehicle_id             0
started_at             0
ended_at               0
DURATION               0
start_location_name    0
end_location_name      0
user_id                0
dtype: int64

In [29]:
#drop rows for the month of may
may=scooter[(scooter['month']=='May')]
drop_may_data = scooter.drop(index=may.index,inplace=True)
print(drop_may_data)

None

In [30]:
scooter['month'].unique()

array(['June', 'July'], dtype=object)

In [31]:
scooter.rename(columns = {'DURATION':'duration'})

,month,trip_id,vehicle_id,started_at,ended_at,duration,start_location_name,end_location_name,user_id
4225,June,1737416,8783919,6/1/2019 0:00,6/1/2019 0:01,0:01:10,"524 Central Ave SW, Albuquerque, NM 87102, USA","524 Central Ave SW, Albuquerque, NM 87102, USA",37503537
4226,June,1737432,8926493,6/1/2019 0:01,6/1/2019 0:21,0:20:14,"1898 Mountain Rd NW, Albuquerque, NM 87104, USA","Tiguex Park, 1800 Mountain Rd NW, Albuquerque,...",37504780
4227,June,1737434,5323295,6/1/2019 0:01,6/1/2019 0:13,0:12:39,"2956 Central Ave SE, Albuquerque, NM 87106, USA","2921 Monte Vista Blvd NE, Albuquerque, NM 8710...",36414734
4228,June,1737455,8483100,6/1/2019 0:02,6/1/2019 0:03,0:01:01,"524 Central Ave SW, Albuquerque, NM 87102, USA","524 Central Ave SW, Albuquerque, NM 87102, USA",37503537
4229,June,1737531,8310449,6/1/2019 0:05,6/1/2019 0:28,0:22:50,"2002 Central Ave SW, Albuquerque, NM 87104, USA","401 2nd St NW, Albuquerque, NM 87102, USA",37182094
...,...,...,...,...,...,...,...,...,...
34221,July,2482235,2893981,7/21/2019 23:51,7/22/2019 0:05,0:14:00,"Central @ Broadway, Albuquerque, NM 87102, USA","1418 4th St NW, Albuquerque, NM 87102, USA",42559731
34222,July,2482254,8201542,7/21/2019 23:52,7/22/2019 0:00,0:08:00,"224 Central Ave SW, Albuquerque, NM 87102, USA","302 San Felipe St NW, Albuquerque, NM 87104, USA",42457674
34223,July,2482257,5136810,7/21/2019 23:52,7/22/2019 1:45,1:53:00,"105 Stanford Dr SE, Albuquerque, NM 87106, USA","3339 Central Ave NE, Albuquerque, NM 87106, USA",42576631
34224,July,2482275,3125962,7/21/2019 23:53,7/22/2019 0:05,0:12:00,"100 Broadway Blvd SE, Albuquerque, NM 87102, USA","1413 4th St SW, Albuquerque, NM 87102, USA",42575656
34225,July,2482335,9449822,7/21/2019 23:55,7/22/2019 1:46,1:51:00,"105 Stanford Dr SE, Albuquerque, NM 87106, USA","3339 Central Ave NE, Albuquerque, NM 87106, USA",42586810

In [32]:
scooter.head(5)

,month,trip_id,vehicle_id,started_at,ended_at,DURATION,start_location_name,end_location_name,user_id
4225,June,1737416,8783919,6/1/2019 0:00,6/1/2019 0:01,0:01:10,"524 Central Ave SW, Albuquerque, NM 87102, USA","524 Central Ave SW, Albuquerque, NM 87102, USA",37503537
4226,June,1737432,8926493,6/1/2019 0:01,6/1/2019 0:21,0:20:14,"1898 Mountain Rd NW, Albuquerque, NM 87104, USA","Tiguex Park, 1800 Mountain Rd NW, Albuquerque,...",37504780
4227,June,1737434,5323295,6/1/2019 0:01,6/1/2019 0:13,0:12:39,"2956 Central Ave SE, Albuquerque, NM 87106, USA","2921 Monte Vista Blvd NE, Albuquerque, NM 8710...",36414734
4228,June,1737455,8483100,6/1/2019 0:02,6/1/2019 0:03,0:01:01,"524 Central Ave SW, Albuquerque, NM 87102, USA","524 Central Ave SW, Albuquerque, NM 87102, USA",37503537
4229,June,1737531,8310449,6/1/2019 0:05,6/1/2019 0:28,0:22:50,"2002 Central Ave SW, Albuquerque, NM 87104, USA","401 2nd St NW, Albuquerque, NM 87102, USA",37182094

In [33]:
scooter.columns = ['month','trip_id','vehicle_id','started_at','ended_at','duration','start_location_name','end_location_name','user_id']

In [34]:
scooter.columns

Index(['month', 'trip_id', 'vehicle_id', 'started_at', 'ended_at', 'duration',
       'start_location_name', 'end_location_name', 'user_id'],
      dtype='object')

In [35]:
scooter.head(5)

,month,trip_id,vehicle_id,started_at,ended_at,duration,start_location_name,end_location_name,user_id
4225,June,1737416,8783919,6/1/2019 0:00,6/1/2019 0:01,0:01:10,"524 Central Ave SW, Albuquerque, NM 87102, USA","524 Central Ave SW, Albuquerque, NM 87102, USA",37503537
4226,June,1737432,8926493,6/1/2019 0:01,6/1/2019 0:21,0:20:14,"1898 Mountain Rd NW, Albuquerque, NM 87104, USA","Tiguex Park, 1800 Mountain Rd NW, Albuquerque,...",37504780
4227,June,1737434,5323295,6/1/2019 0:01,6/1/2019 0:13,0:12:39,"2956 Central Ave SE, Albuquerque, NM 87106, USA","2921 Monte Vista Blvd NE, Albuquerque, NM 8710...",36414734
4228,June,1737455,8483100,6/1/2019 0:02,6/1/2019 0:03,0:01:01,"524 Central Ave SW, Albuquerque, NM 87102, USA","524 Central Ave SW, Albuquerque, NM 87102, USA",37503537
4229,June,1737531,8310449,6/1/2019 0:05,6/1/2019 0:28,0:22:50,"2002 Central Ave SW, Albuquerque, NM 87104, USA","401 2nd St NW, Albuquerque, NM 87102, USA",37182094

In [36]:
split_started_at = scooter['started_at'].str.split(expand=True)
split_started_at.head(2)

             0     1
4225  6/1/2019  0:00
4226  6/1/2019  0:01

In [37]:
when = '2019-05-23'
x=scooter[(scooter['started_at']>when)]
print(x.head(2))

     month  trip_id vehicle_id     started_at       ended_at duration  \
4225  June  1737416    8783919  6/1/2019 0:00  6/1/2019 0:01  0:01:10
4226  June  1737432    8926493  6/1/2019 0:01  6/1/2019 0:21  0:20:14

                                  start_location_name  \
4225   524 Central Ave SW, Albuquerque, NM 87102, USA
4226  1898 Mountain Rd NW, Albuquerque, NM 87104, USA

                                      end_location_name   user_id
4225     524 Central Ave SW, Albuquerque, NM 87102, USA  37503537
4226  Tiguex Park, 1800 Mountain Rd NW, Albuquerque,...  37504780

# Enriching Data

In [38]:
new=pd.DataFrame(scooter['start_location_name'].value_counts().
head())
new.reset_index(inplace=True)
new.columns=['address','count']
new

                                            address  count
0   1898 Mountain Rd NW, Albuquerque, NM 87104, USA   1023
1     Central @ Tingley, Albuquerque, NM 87104, USA    806
2   2550 Central Ave NE, Albuquerque, NM 87106, USA    690
3   2901 Central Ave NE, Albuquerque, NM 87106, USA    605
4  201 Marquette Ave NW, Albuquerque, NM 87102, USA    550

In [39]:
n=new['address'].str.split(pat=',',n=1,expand=True)
replaced=n[0].str.replace("@","and")
#new['street']=n[0]
new['street']=replaced
new

,address,count,street
0,"1898 Mountain Rd NW, Albuquerque, NM 87104, USA",1023,1898 Mountain Rd NW
1,"Central @ Tingley, Albuquerque, NM 87104, USA",806,Central and Tingley
2,"2550 Central Ave NE, Albuquerque, NM 87106, USA",690,2550 Central Ave NE
3,"2901 Central Ave NE, Albuquerque, NM 87106, USA",605,2901 Central Ave NE
4,"201 Marquette Ave NW, Albuquerque, NM 87102, USA",550,201 Marquette Ave NW