The Project is selecting Data in DataFrame using Pandas Library. Data set contains data from people csv file .The Data Dictionary Provided with data is as Follows:
* Name - Name of Person 
* Age - Age of Person
* Weight - Weight Of Person
* Height - Height of Person
* Gender - Gender of Person

Data set can be found here:https://github.com/Ajayacme339/Datacode/blob/master/people%20(2).csv

In [1]:
import pandas as pd 
people = pd.read_csv(r"C:\Users\ajaya\Downloads\people.csv")
people.head(2)

     Name  Age  Weight  Height Gender
0    Rita   27      67    1.65      F
1  Dexter   35      81    1.84      M

First 2 rows has been displayed from the people dataframe

In [2]:
ages = people['Age']
ages.head()

0    27
1    35
2    29
3    41
Name: Age, dtype: int64

Age column was selected and top 4 rows has been displayed

In [3]:
heights = people['Height']
heights.head()

0    1.65
1    1.84
2    1.60
3    1.79
Name: Height, dtype: float64

Height column was selected and top 4 rows has been displayed

In [4]:
first_col = people.iloc[:,0]
first_three_cols = people.iloc[:,0:3]
last_cols = people.iloc[:,-1]
last_3_cols = people.iloc[:,-3:]
print(first_col)
print(first_three_cols)
print(last_3_cols)

0      Rita
1    Dexter
2      Anna
3       Bob
Name: Name, dtype: object
     Name  Age  Weight
0    Rita   27      67
1  Dexter   35      81
2    Anna   29      55
3     Bob   41      73
   Weight  Height Gender
0      67    1.65      F
1      81    1.84      M
2      55    1.60      F
3      73    1.79      M

First Col , First 3 columns and last 3 columns were selected from dataframe

In [5]:
not_first_and_last = people.iloc[:,1:]
not_first_and_last = people.iloc[:, 1:-1]
print(not_first_and_last)

   Age  Weight  Height
0   27      67    1.65
1   35      81    1.84
2   29      55    1.60
3   41      73    1.79

In [6]:
first_row = people.loc[0]
last_row = people.iloc[-1,:]
print(first_row)
print(last_row)

Name      Rita
Age         27
Weight      67
Height    1.65
Gender       F
Name: 0, dtype: object
Name       Bob
Age         41
Weight      73
Height    1.79
Gender       M
Name: 3, dtype: object

First row and last row was selected from the dataframe

In [7]:
num_rows = people.shape[0]
print(num_rows)

4

In [8]:
num_rows = people.shape[0]
first_half = people.iloc[:num_rows // 2]

First half of rows were selected from the dataframe

In [9]:
num_rows = people.shape[0]
second_half = people.iloc[num_rows // 2:]

Second half of rows were selected from the dataframe

In [10]:
even_rows = people.iloc[0::2,:]

All even rows were selected from the dataframe

In [11]:
odd_rows = people.iloc[1::2,:]
odd_rows_weight_height = people[1::2][['Weight', 'Height']]
print(odd_rows_weight_height)

   Weight  Height
1      81    1.84
3      73    1.79

All odd rows were selected for weight and Height columns

In [12]:
name_weight_height = people[['Name','Weight','Height']]
print(name_weight_height)

     Name  Weight  Height
0    Rita      67    1.65
1  Dexter      81    1.84
2    Anna      55    1.60
3     Bob      73    1.79

All rows were selected for Name , weight and Height Column

In [13]:
rows_017_031 = people.loc['017':'031']
print(rows_017_031)

Empty DataFrame
Columns: [Name, Age, Weight, Height, Gender]
Index: []

All rows from row label 017 and row lable 031 were selected

In [14]:
my_selection = people.loc['042':'065', ['Name','Weight', 'Height']]
print(my_selection)

Empty DataFrame
Columns: [Name, Weight, Height]
Index: []